@import '../../styles/colorPalette.scss';

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

@keyframes morph {
    from {
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

.blob {
    position: absolute;
    background: linear-gradient(191deg, $primary, rgba(44,77,141,1) 35%, rgba(60,34,107,1) 60%, $secondary);
    animation: morph 8s infinite alternate;
    filter: blur(30px);
}