@import '../../styles/colorPalette.scss';

.desktop-nav {
    width: 400px;
    display: flex;
    justify-content: space-around;
    color: $white;

    a{
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .desktop-nav {
        display: none;
    }
}