@keyframes left-to-right{
    0% {
        transform: translateX(-80vw);
    }
}

@keyframes right-to-left {
    100% {
        transform: translateX(-80vw);
    }
}

.burger-btn{
    width: 40px;
    height: 34.5px;
    padding: 7px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
    z-index: 1000;

    .line{
        height: 2.5px;
        background-color: #fff;
        transition: transform 0.4s ease-in-out;
    }

    .first.line{
        transform-origin: 0% 0%;
    }

    .last.line{
        transform-origin: 0% 100%;
    }

    .first.line.X{
        transform: rotate(45deg);
    }

    .second.line.X{
        transform: scaleY(0);
    }

    .last.line.X{
        transform: rotate(-45deg);
    }
}

.side-bar{
    width: 80vw;
    min-height: 100vh;
    overflow: hidden;
    padding: 40px 10px;
    background-color: #9c9c9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1200;

    .side-bar-link{
        padding: 20px 10px;
        font-size: 22px;
    }
}

.open{
    animation: left-to-right 1s ease;
}

.closed{
    animation: right-to-left 1s ease forwards;
}

@media (min-width: 992px) {
    .burger-btn, .side-bar {
        display: none;
    }
}