@import './colorPalette.scss';
@import './breakpoints.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

body{
    background-color: $background;
}

h1{
    font-size: 130px;
    line-height: 1.1;
    overflow-wrap: break-word;
    text-align: left;
    z-index: 500;
}

.empty{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $white;
}

@media(max-width: $tablet){
    .empty{
        color: $white;
        -webkit-text-stroke-width: 0;
    }
}