@import '../../styles/colorPalette.scss';


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.container, .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 100%;
    height: fit-content;
    padding: 220px 130px 130px 130px;

    p {
        color: $white;
        font-size: 20px;
    }

    .image-blob {
        width: fit-content;
        height: fit-content;
        position: relative;

        img {
            animation: spin 40s infinite linear;
        }

        .blob {
            filter: blur(0);
        }
    }
    
}

.text {
    width: 900px;
    flex-direction: column;

    .standard-button {
        margin-top: 30px;
        align-self: flex-end;

        a {
            color: $white;
        }
    }
}

@media (max-width: 1630px){
    .container {
        padding: 100px 0;
        flex-direction: column;
        overflow: hidden;

        img {
            width: 320px;
            height: auto;
        }

    }

    .text {
        width: 90vw;
        margin: 50px 0;
    }
}