.tech-title{
    width: 100%;
    height: fit-content;
    padding: 40px 130px;
    color: #ffffff;
    text-align: center;
}

.tech-stack{
    width: 100%;
    height: fit-content;
    padding: 0 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15px;
}

@media (max-width: 620px){
    .tech-title{
        padding: 40px;
        font-size: 22px;
    }

    .tech-stack{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
}
