.tech-title{
    width: 100%;
    height: fit-content;
    padding: 40px 130px;
    color: #ffffff;
    text-align: center;
}

.tech-stack{
    width: 100%;
    height: fit-content;
    padding: 0 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
