.footer{
    width: 100%;
    height: 400px;
    padding: 12px 0px;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    p {
        width: 100%;
        height: fit-content;
        text-align: center;
    }

    h2 {
        overflow: hidden;
        white-space: nowrap;
    }
}

.about-me{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        margin: 0 50px;
    }

    p {
        width: 500px;
        height: fit-content;
        margin: 0 50px;
        text-align: left;
    }
}

.minding-a-project{
    display: flex;
    align-items: center;

    h2 {
        margin: 0 50px;
    }
}

.icon-div{
    width: fit-content;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 97.5px;
    right: 50px;

    .icon {
        width: 40px;
        height: auto;
        cursor: pointer;
    }
}

@media (max-width: 992px){
    .about-me {
        p {
            margin: 0 25px;
        }
    }

    .minding-a-project {
        width: 100%;
        height: 75px;
        padding: 0 25px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        h2, button {
            margin: 0;
            padding: 0;
        }
    }

    .icon-div {
        width: 220px;
        height: 40px;
        padding: 0 25px;
        position: static;
        flex-direction: row;

        .icon {
            height: 100%;
            width: auto;
            
        }
    }
}