@import '../../styles/colorPalette.scss';

.footer{
    width: 100%;
    height: 400px;
    padding: 12px 0px;
    background-color: transparent;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    p {
        width: 100%;
        height: fit-content;
        text-align: center;
        z-index: 500;
    }

    h2 {
        overflow: hidden;
        white-space: nowrap;
        z-index: 500;
    }

    .credits {
        position: absolute;
        bottom: 15px;
        right: auto;
        left: auto;
    }

    .standard-button {
        position: relative;
        z-index: 500;
    }

    .glass {
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #000000 5%, rgba(0, 0, 0, 0) 100%);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

.minding-a-project{
    display: flex;
    align-items: center;

    h2 {
        margin: 0 50px 0 130px;
    }
}

.icon-div{
    width: fit-content;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 97.5px;
    right: 130px;
    z-index: 500;

    .icon {
        width: 40px;
        height: auto;
        cursor: pointer;
        color: $white;
    }
}

@media (max-width: 992px){
    .footer {
        height: 300px;
    }

    .about-me {
        p {
            margin: 0 25px;
        }
    }

    .minding-a-project {
        width: 100%;
        height: 70px;
        padding: 0 25px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        h2, button {
            margin: 0;
            padding: 0;
        }
    }

    .icon-div {
        width: 220px;
        height: 40px;
        margin-top: 60px;
        padding: 0 25px;
        position: static;
        flex-direction: row;

        .icon {
            height: 100%;
            width: auto;
            
        }
    }
}