@import '../../styles/colorPalette.scss';

.banner{
    width: 100vw;
    height: 100vh;
    padding: 85px 60px 20px 60px;
    background: transparent;
    color: #fff;

    h1 {
        width: 350px;
        font-size: 130px;
        line-height: 1.1;
        overflow-wrap: break-word;
        text-align: left;
        position: relative;
        z-index: 500;
    }

    p {
        width: 250px;
        position: absolute;
        left: 400px;
        bottom: 75px;
        z-index: 1000;
    }

    .noise {
        width: 100vw;
        height: 100vh;
        background: url(../../assets/noise.gif);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0.02;
        z-index: 0;
    }

}